<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <title> Smart Pill </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script src="myApp.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/index_page_assets/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/index_page_assets/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/index_page_assets/assets/css/form-elements.css">
    <link rel="stylesheet" href="/index_page_assets/assets/css/style.css">
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/index_page_assets/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>

    <div class="top-content">
            
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>SmartPill</strong> Login Form</h1>
                            <div class="description">
                                <p>
                                    This is a free responsive login form made with Bootstrap. 
                                    Download it on <a href="http://azmind.com"><strong>AZMIND</strong></a>, customize and use it as you like!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Login to our site</h3>
                                    <p>Enter your username and password to log on:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom" ng-controller="login_controller">
                                <form>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">Username</label>
                                        <input type="text" required ng-model="username" name="form-username" placeholder="Username" class="form-username form-control" id="form-username">
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Password</label>
                                        <input type="password" required ng-model="password" name="form-password" placeholder="Password  " class="form-password form-control" id="form-password">
                                    </div>
                                    <div>
                                        <p>{{message}}<a href="/register.html"><b>{{register_link}}</b></a></p>
                                        <input type="submit" hidden/>
                                        <button ng-click="login()" class="btn">Sign in!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!--<div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                            <h3>...or login with:</h3>
                            <div class="social-login-buttons">
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-facebook"></i> Facebook
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-twitter"></i> Twitter
                                </a>
                                <a class="btn btn-link-2" href="#">
                                    <i class="fa fa-google-plus"></i> Google Plus
                                </a>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            
        </div>


        <!-- Javascript -->
        <script src="/index_page_assets/assets/js/jquery-1.11.1.min.js"></script>
        <script src="/index_page_assets/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/index_page_assets/assets/js/jquery.backstretch.min.js"></script>
        <script src="/index_page_assets/assets/js/scripts.js"></script>
        
<!--<div ng-controller="login_controller">

    <form>
    <label>Username</label>
    <input type="text" ng-model="username" required placeholder="username"/>
    <br/><br/>
    <label>Password</label>        
    <input type="password" ng-model="password" required placeholder="password"/>
    <div>
    <input type="submit" hidden/>
    <button ng-click="login()">LOGIN</button>
    </div>
</form>


</div>-->
</body>          

</html>